<div class="container">

    <div class="d-flex flex-column align-items-center w-100">
      <p class="text-center mt-5" style="width: fit-content;" >All my bookings</p>
    </div>

  <div class="row">
    <% @bookings.each do |booking| %>
      <%# <%= link_to plant_path(plant), class:"text-decoration-none p-0" do %>
      <div class="col-md-6 mb-5 position-relative">
        <div class="card mx-auto mb-3">
          <div class="position-relative">
            <% if booking.plant.photos.attached? %>
               <%= cl_image_tag booking.plant.photos[0].key, crop: :fill, class: "w-100 h-100", style: "object-fit: cover;" %>
               <%# DELETE %>
                <div>
                  <p>
                  <%# ATTENTION, il faut bien embarquer l'id de booking dans le link_to car la route précise qu'il faut son id ! %>
                  <%= link_to plant_booking_path(booking.plant_id, booking), data: { turbo_method: :delete, turbo_confirm: 'Delete this booking?' } do %>
                    <i class="fas fa-trash" style="color:#000 ; font-size: 24px; position: absolute; top: 10px; right: 10px;"></i>
                  <% end %>
                </p>
                </div>
            <% else %>
              <img src="https://images.unsplash.com/photo-1551698618-1dfe5d97d256?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2tpfGVufDB8fDB8fHww"alt="" style="width: 100%; height: 100%; object-fit: cover;">
            <% end %>
          </div>

            <p class="mx-2 card-text mb-1 flex-grow-1" ><%= booking.plant.title %></p>
            <p class="mx-2 card-text mb-1 flex-grow-1" ><%= booking.plant.price %>€/mois</p>
            <p class="mx-2 card-text mb-1 flex-grow-1" >Début de location : <%= booking.start_date %></p>
            <p class="mx-2 card-text mb-1 flex-grow-1" >Fin de location : <%= booking.end_date %></p>
        </div>

      <% end %>
      </div>
    <%# <% end %>
  </div>
</div>
