<div class="text-center mt-5">
  <% if user_signed_in? %>
    <h1>Créez un produit</h1>
  <% end %>

</div>

<div class="container mt-5">

  <div class="form-template">
    <%= simple_form_for(plant) do |f| %>
      <%= f.input :title, placeholder: "Titre de votre produit", class: "input-form", label:false %>

      <%= f.input :category, collection: Plant::VALID_CATEGORIES, prompt: 'Choisissez une catégorie', input_html: {class: 'input-form'}, label:false %>
      <%= f.input :price, class: "input-form",
                  # label: "Prix par mois (€/mois)",
                  as: :select, collection: [5, 10, 15, 20, 25, 30, 35, 40], include_blank: 'Choisir un prix de location (€)'
                  %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, class: "input-form" %>
      <div class="text-center">
        <%= f.button :submit, class: "custom-btn-bottom " %>
      </div>
    <% end %>
  </div>

</div>
